.current-weather {
  display: flex;
  flex-direction: column;
  margin-top: 30px; }

.loader {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url("img/Spinner.svg") center no-repeat; }

.addCity__form {
  display: flex; }

.city-list {
  margin-top: 25px; }
  .city-list li {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse; }
    .city-list li:hover .city-list__remove {
      display: block; }
  .city-list__remove {
    cursor: pointer;
    margin-left: 15px;
    display: none; }
  .city-list__city {
    width: 150px; }
  .city-list__temp {
    width: 25px;
    margin-right: 15px; }
